.form {
	display: flex;
	flex-direction: column;
	width: 150px;
}

.phonebook-list__item-name {
	display: inline-block;
	width: 160px;
}

.phonebook-list__item-show {
	text-decoration: underline;
	cursor: pointer;
	color: #0066ff;
}

.phonebook-list__item-address,
.phonebook-list__item-phones,
.phonebook-list__item-emails {
	list-style: none;
	display: table-cell;
    vertical-align: top;
}

#btn-logout,
#btn-my-contact,
#btn-login,
#btn-phonebook,
#submit {
	cursor: pointer;
}

.wrap-items {
	display: none;

}